<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1781">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <div class="cs-logo-section">
                <img class="cs-logomark" src="/assets/images/Kendu_Logo.webp" alt="Kendu-logo" loading="lazy" decoding="async" height="100" width="122">
                <h2 class="cs-title">We Don't Gamble</h2>
                <span class="cs-outline">WE WORK</span>
            </div>
        </div>
        <div class="cs-ul-wrapper cs-wrapper-text">
            <div class="cs-logo-title">
                <h2 class="cs-title">KENDU INU</h2>
            </div>
            <!-- Contact Info -->
            <p class="cs-text">Kendu is the narrative, and you are the catalyst. Become the main character in the rise of the ultimate memecoin ecosystem. Will you join the pack?</p>
            <ul class="cs-ul cs-ul-contact">
                <li class="cs-li">
                    <span class="cs-topper">EMAIL</span>
                    <a class="cs-contact" href="mailto:kenduinu@proton.me">KenduInu@proton.me</a>
                </li>
                <li class="cs-li">
                    <span class="cs-topper">Contract address</span>
                    <h2 class="contract-title">$ETH:
                        <a class="cs-contract" href="#buy-kendu">0xaa95f26e30001251fb905d264Aa7b00eE9dF6C18</a>
                    </h2>
                    <h2 class="contract-title">$SOL:
                        <a class="cs-contract" href="#buy-kendu">2nnrviYJRLcf2bXAxpKTRXzccoDbwaP4vzuGUG75Jo45</a>
                    </h2>
                    <h2 class="contract-title">BASE:
                        <a class="cs-contract" href="#buy-kendu">0xef73611F98DA6E57e0776317957af61B59E09Ed7</a>
                    </h2>
                </li>
            </ul>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper socials">
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="https://t.me/KenduInu" target="_blank">Telegram</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://x.com/kenduinu" target="_blank">X/Twitter</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://stocktwits.com/Kenducto" target="_blank">Stocktwits</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://www.dextools.io/app/en/ether/pair-explorer/0xd9f2a7471d1998c69de5cae6df5d3f070f01df9f?t=1720905204455" target="_blank">Dextools</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://www.coingecko.com/en/coins/kendu-inu" target="_blank">CoinGecko</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://coinmarketcap.com/currencies/kendu-inu/" target="_blank">CoinMarketCap</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://www.reddit.com/r/KenduInu_Ecosystem/" target="_blank">Reddit</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="https://www.youtube.com/@KenduInuArmy" target="_blank">YouTube</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit cs-copy">
            © Copyright 2025 - Kendu Inu Inc.
        </span>
        <div class="cs-bottom-links">
            <p class="cs-credit">Hand Coded by Keito Takato</p>
            <a href="https://clickmortar.app/" class="cs-bottom-link" target="_blank">clickmortar.app</a>
        </div>
    </div>
    <img class="cs-graphic cs-graphic-light" src="/assets/svgs/faq-bottom-splash.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</footer>
                                