<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/Kendu_Logo.webp" alt="logo" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="index.html#buy-kendu" class="cs-li-link cs-active">
                            Buy $KENDU
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="index.html#buy-kendu" class="cs-li-link">
                            How to Buy $KENDU
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="index.html#exchanges" class="cs-li-link">
                            Exchanges
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="index.html#about-kendu" class="cs-li-link">
                            About Kendu Inu
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="index.html#faq" class="cs-li-link">
                            FAQ
                        </a>
                    </li>
                </ul>
                <div class="cs-contact-group-mobile">
                    <div class="cs-social-mobile">
                        <a href="https://t.me/KenduInu" target="_blank" class="cs-social-link">
                            <img class="cs-social-icon" src="/assets/svgs/telegram-logo.svg" alt="telegramlogo" width="12" height="12" aria-hidden="true" decoding="async">
                        </a>
                        <a href="https://www.dextools.io/app/en/ether/pair-explorer/0xD9f2A7471d1998C69De5Cae6dF5d3f070F01DF9F" target="_blank" class="cs-social-link">
                            <img class="cs-social-icon" src="/assets/svgs/dextools-logo.svg" alt="dextools logo" width="12" height="12" aria-hidden="true" decoding="async">
                        </a>
                        <a href="https://x.com/kenduinu" target="_blank" class="cs-social-link">
                            <img class="cs-social-icon" src="/assets/svgs/x-logo.svg" alt="x logo" width="12" height="12" aria-hidden="true" decoding="async">
                        </a>
                        <a href="https://etherscan.io/token/0xaa95f26e30001251fb905d264aa7b00ee9df6c18" target="_blank" class="cs-social-link">
                            <img class="cs-social-icon" src="/assets/svgs/etherscan-logo.svg" alt="x logo" width="12" height="12" aria-hidden="true" decoding="async">
                        </a>
                        <a href="https://app.uniswap.org/swap?outputCurrency=0xaa95f26e30001251fb905d264aa7b00ee9df6c18&inputCurrency=ETH" target="_blank" class="cs-social-link">
                            <img class="cs-social-icon uniswap-logo" src="/assets/svgs/uniswap-logo.svg" alt="x logo" width="12" height="12" aria-hidden="true" decoding="async">
                        </a>
                    </div>
                </div>
            </div>
            <div class="cs-contact-group">
                <div class="cs-social">
                    <a href="https://t.me/KenduInu" target="_blank" class="cs-social-link">
                        <img class="cs-social-icon" src="/assets/svgs/telegram-logo.svg" alt="telegramlogo" width="12" height="12" aria-hidden="true" decoding="async">
                    </a>
                    <a href="https://www.dextools.io/app/en/ether/pair-explorer/0xD9f2A7471d1998C69De5Cae6dF5d3f070F01DF9F" target="_blank" class="cs-social-link">
                        <img class="cs-social-icon" src="/assets/svgs/dextools-logo.svg" alt="dextools logo" width="12" height="12" aria-hidden="true" decoding="async">
                    </a>
                    <a href="https://x.com/kenduinu" target="_blank" class="cs-social-link">
                        <img class="cs-social-icon" src="/assets/svgs/x-logo.svg" alt="x logo" width="12" height="12" aria-hidden="true" decoding="async">
                    </a>
                    <a href="https://etherscan.io/token/0xaa95f26e30001251fb905d264aa7b00ee9df6c18" target="_blank" class="cs-social-link">
                        <img class="cs-social-icon" src="/assets/svgs/etherscan-logo.svg" alt="x logo" width="12" height="12" aria-hidden="true" decoding="async">
                    </a>
                    <a href="https://app.uniswap.org/swap?outputCurrency=0xaa95f26e30001251fb905d264aa7b00ee9df6c18&inputCurrency=ETH" target="_blank" class="cs-social-link">
                        <img class="cs-social-icon uniswap-logo" src="/assets/svgs/uniswap-logo.svg" alt="x logo" width="12" height="12" aria-hidden="true" decoding="async">
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
                                