---
title: 'Kendu Inu | $KENDU Ecosystem'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1856">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Best Gym Of The City For Fitness</span>
                <h1 class="cs-title">You Can Boost Your Strength</h1>
                <p class="cs-text">
                    Develop confidence, composure under pressure and the discipline needed to be a champ. This is the club you’ve been looking for.
                </p>
                <a href="" class="cs-button-solid">Read More</a>
                <img class="cs-content-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-graphic.svg" alt="graphic" height="1075" width="1135" loading="lazy" decoding="async">
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" src="/assets/images/kendu_villiage.png">
            <source media="(min-width: 601px)" src="/assets/images/kendu_villiage.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png" alt="field" width="1920" height="1200" aria-hidden="true">
        </picture>

        <img class="cs-graphic cs-graphic-light" src="/assets/svgs/bottom_shape.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-graphic-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>
                                

    <!-- ============================================ -->
    <!--           Flooz App & How To Buy             -->
    <!-- ============================================ -->

    <section id="sbs-1815">
        <div class="cs-container" id="howToBuy">
            <div class="cs-image-group">
                <!--Main Image-->
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym4.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym4.jpg" alt="body builder" width="700" height="666">
                </picture>
                <!--White SVG Mask. Download the image and change the fill color to match the color of the section background below it-->
                <img class="cs-mask cs-light" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/paint-splash-222.svg" alt="white splatter" width="700" height="666">
                <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
                <img class="cs-mask cs-dark" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dark-splash-030.svg" alt="white splatter" width="700" height="666">
            </div>
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Boxing & Martial Arts Club For Kids & Adults</h2>
                <p class="cs-text">
                    We understand that your lifestyle changes, that’s why we’ve made fitness straightforward and stress free. Join today on a no lock-in contract membership and start achieving your fitness goals. We value flexibility at Jetts, with unlimited 24/7 access.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-check.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Kids</h3>
                            <span class="cs-li-text">
                                Age: 5-8
                            </span>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-check.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Juniors</h3>
                            <span class="cs-li-text">
                                Age: 9-11
                            </span>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-check.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Youths</h3>
                            <span class="cs-li-text">
                                Age: 12-15
                            </span>
                        </div>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">Learn More</a>
            </div>
        </div>

        <!--White Splash Graphic-->
        <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/1d1c-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>

    <!-- ============================================ -->
    <!--                 Exchanges                    -->
    <!-- ============================================ -->

    <section id="services-1900">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Our Services</span>
                    <h2 class="cs-title">We Trained You To Gain</h2>
                </div>
                <button class="cs-play" aria-label="click to play video">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/play-right.svg" alt="play icon" width="24" height="24" aria-hidden="true" decoding="async">
                </button>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3">Aerobic</h3>
                    </a>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-1.png" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3">Training</h3>
                    </a>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3">Body Builder</h3>
                    </a>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3">Yoga</h3>
                    </a>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-5.png" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3">Cycling</h3>
                    </a>
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png" alt="construction" width="413" height="374" aria-hidden="true">
                    </picture>
                </li>
            </ul>
        </div>
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
            <video loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Videos/gym.mp4" autoplay="false" muted></video>
            <!-- <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png" alt="body builder" width="630" height="877">
            </picture> -->
        </div>
        <!--Make sure to download this svg and change the fill color in a code editor to match the color of the section above this stitch-->
        <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-video-dark-graphic.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async">
        <!--download this and make sure it is the same color as the background of the section above it on dark mode so it makes it look like its one complete shape -->
        <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-video-dark-graphic-dark.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async">
    </section>

                                

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1816">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym4.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym4.jpg" alt="body builder" width="700" height="666">
                </picture>
                <!--White SVG Mask. Download the image and change the fill color to match the color of the section background below it-->
                <img class="cs-mask cs-light" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/paint-splash-222.svg" alt="white splatter" width="700" height="666">
                <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
                <img class="cs-mask cs-dark" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dark-splash-030.svg" alt="white splatter" width="700" height="666">
            </div>
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Boxing & Martial Arts Club For Kids & Adults</h2>
                <p class="cs-text">
                    We understand that your lifestyle changes, that’s why we’ve made fitness straightforward and stress free. Join today on a no lock-in contract membership and start achieving your fitness goals. We value flexibility at Jetts, with unlimited 24/7 access.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-check.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Kids</h3>
                            <span class="cs-li-text">
                                Age: 5-8
                            </span>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-check.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Juniors</h3>
                            <span class="cs-li-text">
                                Age: 9-11
                            </span>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-check.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Youths</h3>
                            <span class="cs-li-text">
                                Age: 12-15
                            </span>
                        </div>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">Learn More</a>
            </div>
        </div>

        <!--White Splash Graphic-->
        <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/1d1c-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1776">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Frequently Asked Questions</span>
            <h2 class="cs-title">A Healthy Mind in a Healthy Body</h2>
            <a class="cs-button-solid">
                Ask Another Questions
            </a>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do I place an order?
                        </span>
                    </button>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What payment methods do you accept?
                        </span>
                    </button>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How can I track my order?
                        </span>
                    </button>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is your return policy?
                        </span>
                    </button>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you offer international shipping?
                        </span>
                    </button>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How can I contact customer support?
                        </span>
                    </button>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-gallery">
        <!--Picture 1-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-1.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-1.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-1.png" alt="gallery" width="272" height="320">
        </picture>
        <!--Picture 2-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-2.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-2.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-2.png" alt="gallery" width="272" height="320">
        </picture>
        <!--Picture 3-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-3.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-3.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-3.png" alt="gallery" width="272" height="320">
        </picture>
        <!--Picture 4-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-4.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-4.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-4.png" alt="gallery" width="272" height="320">
        </picture>
        <!--Picture 5-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-5.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-5.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-5.png" alt="gallery" width="272" height="320">
        </picture>
    </div>
</section>

{% endblock %}