---
title: 'Kendu Inu | $KENDU Ecosystem'
description: 'Kendu is the narrative, and you are the catalyst. Become the main character in the rise of the ultimate memecoin ecosystem. Will you join the pack?'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1856">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">UNITING THE SIX NATIVE JAPANESE DOG BREEDS</span>
                <h1 class="cs-title">KENDU INU</h1>
                <p class="cs-text">
                    Kendu is the narrative, and you are the catalyst. Become the main character in the rise of the ultimate memecoin ecosystem. Will you join the pack?
                </p>
                <a href="#buy-kendu" class="cs-button-solid">Buy $KENDU</a>
                <img class="cs-content-graphic" src="/assets/svgs/left_shape.svg" alt="graphic" height="1075" width="1135" loading="lazy" decoding="async">
            </div>
        </div>

        <!-- Background Image/video -->
        
        <div class="cs-video-wrapper">
            <video loading="lazy" src="https://clickmortarlibrary.nyc3.cdn.digitaloceanspaces.com/Kendu/hero-video.mp4" autoplay loop muted playsinline></video>
            <img src="/assets/images/fallback.png" alt="Background image" class="fallback-image">
        </div>
    

        <!--Splash Image-->

        <img class="cs-graphic cs-graphic-light" src="/assets/svgs/bottom_shape.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>

               

    <!-- ============================================ -->
    <!--           Flooz App & How To Buy             -->
    <!-- ============================================ -->

    <section id="buy-kendu">
        <div class="cs-container" id="howToBuy">
            <iframe class="floozApp" loading="lazy"
            title="flooz kendu app"
            height="600"
            frameborder="0"
            allow="clipboard-read *; clipboard-write *; web-share *; accelerometer *; autoplay *; camera *; gyroscope *; payment *; geolocation *"
            src="https://flooz.xyz/embed/trade?swapDisabled=false&swapNetwork=eth&swapToTokenAddress=0xaa95f26e30001251fb905d264Aa7b00eE9dF6C18&swapLockToToken=false&onRampDisabled=false&onRampNetwork=eth&onRampAsDefault=false&onRampTokenAddress=eth&onRampLockToken=true&network=eth&lightMode=false&backgroundColor=transparent&miniApp=false&miniappIntent=swap"
            ></iframe>
            <div class="cs-image-group">
                <!--Main Image-->
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/svgs/app-splash.svg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/svgs/app-splash.svg">
                    <img loading="lazy" decoding="async" src="/assets/svgs/app-splash.svg" alt="graphic" width="700" height="666">
                </picture>
            </div>
            <div class="cs-wrapper" id="how-to-buy">
                <div class="cs-content">
                    <span class="cs-topper">JOIN THE PACK</span>
                    <h2 class="cs-title">How to Buy Kendu Inu on Ethereum</h2>
                </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-number">01</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Create Wallet</h3>
                            <p class="cs-item-text">
                                Get MetaMask or your favorite wallet for free from the App Store or Google Play. For desktop users, visit <a class="metamask-link" href="https://metamask.io/">metamask.io</a> to download the extension.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">02</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Buy Ethereum</h3>
                            <p class="cs-item-text">
                                Have ETH in your wallet to swap for $KENDU. If not, buy ETH in the widget's 'Buy' tab, transfer from another wallet, or purchase on another exchange and send it to your wallet.
                            <br>
                            <br>
                                <span class="only-on-eth">$KENDU is only on Ethereum.</span>
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">03</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Swap for Kendu Inu</h3>
                            <p class="cs-item-text">
                                Connect your wallet using the 'Connect' button on the widget. Approve and sign the wallet signatures in Metamask. 
                            <br>
                            <br>
                                Alternatively, you can buy $KENDU on numerous centralized exchanges. 
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Exchanges                    -->
    <!-- ============================================ -->

    <section id="exchanges">
        <img class="cs-graphic-top cs-light" src="/assets/svgs/buy-kendu-bottom-splash.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <div class="cs-image-wrapper">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/CEX-mobile.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/CEX.webp">
                <img loading="lazy" alt="where to buy kendu section image" decoding="async" src="/assets/images/CEX.webp" width="630" height="877">
            </picture>
        </div>
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Word is Spreading</span>
                    <h2 class="cs-title">Where to Buy</h2>
                </div>
            </div>
            <div class="carousel" aria-live="polite" aria-label="Image Carousel">
                <div class="cs-card-group carousel-track"></div>
            </div>
        </div>
        <div class="wrapper-dropdown" id="dropdown">
            <span class="selected-display" id="destination">Select a Listing</span>
            <svg class="arrow" id="drp-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="transition-all ml-auto rotate-180">
                <path d="M7 14.5l5-5 5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div class="dropdown-container">
                <ul class="dropdown">
                    <li class="item"><a href="https://app.uniswap.org/swap?outputCurrency=0xaa95f26e30001251fb905d264aa7b00ee9df6c18&inputCurrency=ETH" target="_blank">Uniswap</a></li>
                    <li class="item"><a href="https://www.lbank.com/trade/kendu_usdt" target="_blank">LBank</a></li>
                    <li class="item"><a href="https://www.mexc.com/exchange/KENDU_USDT" target="_blank">MEXC</a></li>
                    <li class="item"><a href="https://www.bitmart.com/trade/en-US?symbol=KENDU_USDT&layout=basic&%3Fr=Ppnxq3&type=null" target="_blank">BitMart</a></li>
                    <li class="item"><a href="https://poloniex.com/trade/KENDU_USDT/?type=spot" target="_blank">Poloniex</a></li>
                    <li class="item"><a href="https://azbit.com/exchange/KENDU_USDT" target="_blank">Azbit</a></li>
                    <li class="item"><a href="https://www.fameex.com/en-US/grid/kendu-usdt" target="_blank">FameEx</a></li>
                    <li class="item"><a href="https://www.biconomy.com/exchange/KENDU_USDT" target="_blank">Biconomy</a></li>
                    <li class="item"><a href="https://big.one/en/trade/KENDU-USDT" target="_blank">BigOne</a></li>
                    <li class="item"><a href="https://www.coinex.com/en/exchange/kendu-usdt" target="_blank">CoinEx</a></li>
                    <li class="item"><a href="https://m.bilaxy.com/swap/ethereum/0xaa95f26e30001251fb905d264Aa7b00eE9dF6C18" target="_blank">Bilaxy</a></li>
                    <li class="item"><a href="https://bingx.com/ku-ku/spot/KENDUUSDT/" target="_blank">BingX</a></li>
                    <li class="item"><a href="https://www.grovex.io/en_US/trade/KENDU_USDT" target="_blank">GroveX</a></li>
                    <li class="item"><a href="https://www.probit.com/app/exchange/KENDU-USDT" target="_blank">Probit</a></li>
                    <li class="item"><a href="https://www.superex.com/trade/KENDU_USDT" target="_blank">SuperEx</a></li>
                </ul>
            </div>
        </div>
        <img class="cs-cex-graphic cs-light" src="/assets/svgs/cex-splash.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async">
        <img class="cs-graphic cs-light" src="/assets/svgs/cex-top-shape.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async">
    </section>                       

    <!-- ============================================ -->
    <!--                About Kendu                   -->
    <!-- ============================================ -->

    <section id="about-kendu">
        <div class="cs-container" id="about">
            <div class="cs-image-group">
                <!--Main Image-->
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/miazaki-mobile.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/miazaki.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/miazaki.webp" alt="splash" width="700" height="666">
                </picture>
                <!--White SVG Mask. Download the image and change the fill color to match the color of the section background below it-->
                <img class="cs-mask cs-light" loading="lazy" decoding="async" src="/assets/svgs/paint-splash-222.svg" alt="splatter" width="700" height="666">
            </div>
            <div class="cs-content">
                <span class="cs-topper">ORIGINS</span>
                <h2 class="cs-title">About Kendu Inu</h2>
                <p class="cs-text">
                    The master Kendu Miazaki recalls memories of bygone days, when communities flourished through the bonds of battle. Miazaki, who grew his fortunes with Shiba Inu, had seen the rise of a different era—when a project's success thrived on camaraderie and shared passion. His heart yearned to fight alongside his brothers-in-arms again and build a lasting legacy. With unparalleled resolve, he emerged from his retreat to channel the spirit of past bull runs through Kendu Inu, the uniter of six native Japanese dog breeds.
                </p>
                <p class="cs-text">
                    Armed with an unshakeable vision, he ventured into the surging markets again, where souls are jaded and jeets run rampant. Undeterred, Kendu planted seeds of camaraderie, fostering organic bonds and laying the groundwork for explosive growth. With his acerbic wit and martini in hand, he inspires his army of Loyalists daily to sculpt a culture where hard work births prosperity. Witness the rise of Kendu Inu, the greatest memecoin ecosystem and the largest autonomous marketing force the world has ever seen. We do not gamble, we work.
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/totalsupply.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3 total">TOTAL SUPPLY</h3>
                            <span class="cs-li-text">
                                1 Trillion
                            </span>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/tax.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">TAX</h3>
                            <span class="cs-li-text">
                                0/0
                            </span>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/work.svg" decoding="async" alt="icon" width="20" height="20" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">WE WORK</h3>
                            <span class="cs-li-text">
                                24/7
                            </span>
                        </div>
                    </li>
                </ul>
                <a href="#buy-kendu" class="cs-button-solid">Buy Kendu</a>
            </div>
        </div>

        <!--White Splash Graphic-->
        <img class="cs-graphic cs-light" src="/assets/svgs/about-splash.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>

    <!-- ============================================ -->
    <!--                  Kendu Chads                 -->
    <!-- ============================================ -->

    <section id="kendu-chads">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/svgs/kendu-chad.svg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/svgs/kendu-chad.svg">
                    <img loading="lazy" decoding="async" src="/assets/svgs/kendu-chad.svg" alt="kendu chads" width="700" height="666">
                </picture>                
            </div>
            <div class="cs-content">
                <span class="cs-topper">Ecosystem</span>
                <h2 class="cs-title">Kendu Chads</h2>
                <p class="cs-text">
                    Kendu Chads is the official Kendu Inu NFT collection. Chads also serves as an NFT marketplace and launchpad. For each Chad you hold, you earn a portion of the platform's revenue. The amount of revenue claimable depends on the number of Chads you possess, with a maximum of 10,000 available in the set.
                </p>
                <a href="https://kenduchads.com" target="_blank" class="cs-button-solid">Mint your Chad!</a>
            </div>
        </div>

        <!--White Splash Graphic-->
        <img class="cs-graphic cs-light" src="/assets/svgs/kendu-chads-splash.svg" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>


    <!-- ============================================ -->
    <!--                    FAQ                       -->
    <!-- ============================================ -->

    <section id="faq">
        <div class="cs-container" id="faqSection">
            <div class="cs-content">
                <span class="cs-topper">Frequently Asked Questions</span>
                <h2 class="cs-title">Everything You Need to Know</h2>
            </div>
            <div class="cs-flex-group">
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item active">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is Kendu Inu?
                            </span>
                        </button>
                        <p class="cs-item-text">
                            Kendu Inu is a memecoin ecosystem led by developer Kendu Miazaki, and driven forward by its community through organic marketing. We don't engage in paid marketing or use bots or fake engagement; instead, we rely on the daily efforts of our autonomous community members to spread the word. Each member's contributions are crucial to the project's success, creating an infinitely scalable approach that fosters infectious virality. 
                            <br>
                            <br>
                            This grassroots effort makes Kendu Inu unique, with a community unparalleled in dedication, conviction, and working ethos. Kendu's success is predetermined, but the pace depends on our collective efforts. While the ecosystem will feature dApps and products released unannounced, their impact hinges on the strength of the Kendu army, making the community the perpetual focus.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What will take Kendu to the next level?
                            </span>
                        </button>
                        <p class="cs-item-text">
                            You are the key to Kendu's next level. Your unique network, skills, and talents make you an indispensable asset in the project's growth and scale. With your unique capabilities, you have the power to drive Kendu forward in your own way. You need only try.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I help?
                            </span>
                        </button>
                        <p class="cs-item-text">
                            There are thousands of ways to help, but a good start is by creating social media accounts on platforms like Reddit, X, TikTok, and YouTube, if you haven't already. Engage with community posts by replying, liking, sharing, and increasing engagement thoughtfully—avoid one-word comments like "LFG!". Create your own posts to spread the word about Kendu. Tell people in your life, put up posters in your town, make stickers, and create content. Always be kind and respectful when discussing Kendu online, as you represent the project. Avoid negative talk about other projects and refrain from engaging with those who try to provoke us. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                When are we reaching ____ market cap?
                            </span>
                        </button>
                        <p class="cs-item-text">
                            We can't predict the exact timing. 
                            <br>
                            What we do know is that the Kendu community's daily efforts—spreading the word on social media and in real life—drive growth. As more people join the community and hold Kendu, the price naturally rises due to market forces. Kendu's approach to project growth is infinitely scalable. 
                            <br>
                            <br>
                            This is what we mean by "10b is programmed": with consistent, organic marketing, there is no upper limit to the heights we can reach. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Why is Kendu dipping/pumping right now?
                            </span>
                        </button>
                        <p class="cs-item-text">
                            Markets naturally fluctuate, similar to how humans breathe. After a sharp rise (a big breath in), people may take profits, leading to price corrections (breathing out). This allows new members to enter at lower prices, redistributing tokens from large holders to new, active community members. 
                            <br>
                            <br>
                            During volatile periods, it's important to zoom out and focus on the bigger picture. What you're likely witnessing is market consolidation, which is a healthy phase following significant price increases. During consolidation, a token finds its new price floor before rising to new heights in a "price discovery" phase. Trust in the community and continue contributing to the daily work. We can't control market forces or individual actions, but we can control our collective efforts and our individual initiatives. 
                            <br>
                            <br>
                            We work tirelessly and happily, regardless of market conditions, because Kendu Inu aims to be the first $100 billion memecoin. We are focused on long-term growth and remain unaffected by short-term market movements. Helmets on. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I keep my tokens safe in Uniswap, Metamask, or another wallet?
                            </span>
                        </button>
                        <p class="cs-item-text">
                            Your Kendu tokens are stored on the Ethereum blockchain, not in your wallet app. Wallet apps hold the keys to access your coins. Choose the app you trust the most; you don't need to move tokens between them. 
                            <br>
                            <br>
                            To keep your tokens safe:
                            Never enter your seed phrase anywhere and store it securely.
                            Be cautious of unsolicited DMs and always verify who you're communicating with publicly.
                            Remember, there are no Kendu airdrops or similar giveaways.
                            Scammers will use various tactics to steal your tokens, so always exercise caution.
                            <br>
                            <br>
                            If in doubt, ask for help in the official Telegram group, using the link found on the top bar of this site. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/faq-1-mobile.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/faq-1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/faq-1.webp" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 2-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/faq-2-mobile.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/faq-2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/faq-2.webp" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 3-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/faq-3-mobile.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/faq-3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/faq-3.webp" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 4-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/faq-4-mobile.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/faq-4.webp">
                <img loading="lazy" decoding="async" src="/assets/images/faq-4.webp" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 5-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/faq-5-mobile.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/faq-5.webp">
                <img loading="lazy" decoding="async" src="/assets/images/faq-5.webp" alt="gallery" width="272" height="320">
            </picture>
        </div>
        <img class="cs-graphic cs-graphic-light" src="/assets/svgs/faq-bottom-splash.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section>

{% endblock %}

<!-- There are two dropdowns to show multi-menu support -->
