/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---    Flooz and How to Buy    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #buy-kendu {
        margin-top: -0.1em;
        padding: var(--sectionPadding);
        /* 100px - 200px */
        padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
        background-color: #272727;
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin-top: 3em;
            width: 80%;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--secondary);
            font-size: 1.25rem;
            text-shadow:
                -1px -1px 0 #000,
                0   -1px 0 #000,
                1px -1px 0 #000,
                1px  0   0 #000,
                1px  1px 0 #000,
                0    1px 0 #000,
                -1px  1px 0 #000,
                -1px  0   0 #000;
        }

        .cs-title {
            margin: 0;
            font-size: 3.25rem;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            align-items: stretch;
            grid-auto-flow: row;
            /* 24px - 32px */
            gap: clamp(1.5rem, 3vw, 2rem);
        }

        .cs-item {
            list-style: none;
            padding-bottom: calc(32/16 * 1rem);
            border-bottom: #dcdcdc 1px solid;
            display: flex;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 2vw, 1.5rem);
            position: relative;

            &:last-of-type {
                border-bottom: none;
            }
        }

        .cs-number {
            /* 49px - 72px */
            font-size: clamp(3.0625rem, 6vw, 4.5rem);
            font-weight: 900;
            line-height: calc(19/16 * 1em);
            color: #ffffff;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.5rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: calc(18/16 * 1em);
            margin: 0 0 calc(12/16 * 1rem) 0;
            color: #ffffff !important;
        }

        .cs-item-text {
            font-size: calc(12/16 * 1rem);
            line-height: calc(24/16 * 1em);
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
            font-family: "Orienta", sans-serif;
        }
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-title, .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);
            opacity: .8;
            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-ul {
            width: 100%;
            max-width: calc(630/16 * 1rem);
            margin: 0 0 calc(32/16 * 1rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(16/16 * 1rem);
            column-gap: calc(12/16 * 1rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            grid-column: span 4;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            /* 60px - 80px */
            width: calc(48/16 * 1rem);
            height: calc(48/16 * 1rem);
            margin: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: #1D1C1C;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: calc(24/16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-li-text {
            font-size: calc(20/16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4/16 * 1rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:min(2vw, .70rem);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: calc(943/16 * 1em);
            height: calc(908/16 * 1em);
            position: relative;
            z-index: 1;
            display: none;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-mask {
            width: 101%;
            height: 101%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        .cs-graphic {
            width: 100%;
            min-width: calc(1200/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #buy-kendu {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:min(1vw, 1rem);
            flex: none;
            display: block;
            z-index: -1;
            position: absolute;
            margin-left: -3em;

            &:before {
                display: block;
            }
        }

        .floozApp {
            margin-left: 10%;
        }

        .cs-card-group {
            width: 80%;
        }

        .cs-content {
            width: 51%;
        }

        .cs-wrapper {
            margin-top: 0;
            width: 80%;
        }

        .cs-title {
            width: 7em;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #buy-kendu {
        .cs-image-group {
            font-size: inherit;
            width: calc(743/16 * 1em);
            height: calc(708/16 * 1em);
        }

        .cs-li {
            flex-direction: row;
        }


    }
}

/* Large Desktop - 2000px */
@media only screen and (min-width: 125rem) {
    #buy-kendu {
        /* pushes down when the screen size gets too big and the graphic starts getting too tall and creeps up on the content above it */
        padding-bottom: 9vw;

        .floozApp {
            margin-right: 10em;
        }
    }
}

/*-- -------------------------- -->
<---         Exchanges          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #exchanges {
        padding: var(--sectionPadding);
        /* 200px - 300px - leaving extra space for the navigation */
        padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
        background-color: #222;
        overflow-x: clip;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: calc(1720/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 100px - 229px */
            gap: clamp(6.25rem, 16vw, 14.3125rem);
        }

        .cs-content {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            pointer-events: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
        }

        .cs-title {
            max-width: 10ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-play {
            /* 80px - 120px */
            width: clamp(5rem, 14vw, 7.5rem);
            height: clamp(5rem, 14vw, 7.5rem);
            background-color: rgba(255, 255, 255, 0.2);
            cursor: pointer;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;
            transition: opacity 0.3s, transform 0.3s;
            backdrop-filter: blur(8px);

            &.cs-hide {
                opacity: 0;
                transform: scale(0);
            }
        }

        .cs-icon {
            width: calc(20/16 * 1rem);
            height: auto;
        }

        .carousel {
            overflow: hidden;
            width: 100%;
            z-index: 1;
          }
          
          .carousel-track {
            display: flex;
            gap: var(--gap-width);
            animation: scroll var(--scroll-duration) linear infinite;
          }
          
          .slide {
            background: var(--slide-bg-color);
            flex: 0 0 var(--slide-width);
            height: var(--slide-height);
            position: relative;
            overflow: hidden;
          }
          
          .slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          
          .overlay {
            position: absolute;
            bottom: 0;
            background: var(--overlay-bg-color);
            color: var(--overlay-text-color);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: var(--overlay-transition);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .slide:hover .overlay {
            opacity: 0;
          }
          
          @keyframes scroll {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(calc(-1 * var(--total-width)));
            }
          }
          
          .carousel:hover .carousel-track {
            animation-play-state: paused;
          }

        .cs-link {
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            /* 16px - 32px */
            padding: clamp(1rem, 2vw, 2rem);
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: calc(450/16 * 1rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-item-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                opacity: 0.24;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                /* background color overlay */
                content: "";
                width: 100%;
                height: 35%;
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
            }

            img {
                width: 100%;
                height: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.6s, opacity 0.3s;
            }
        }

        .cs-video-wrapper {
            width: 100%;
            /* changes to 90% at tablet, then back to 100% at desktop */
            height: 32%;
            min-height: calc(520/16 * 1rem);
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            &:hover {
                cursor: pointer;
            }

            video,
            .cs-picture {
                width: 100%;
                height: 100%;
                /* makes image act as a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;

                img {
                    width: 100%;
                    height: 100%;
                    /* makes image act as a background image */
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .cs-graphic {
            width: 100%;
            min-width: calc(1280/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            top: -1px;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #exchanges {
        .cs-card-group {
            margin: 0;
        }

        .cs-item {
            grid-column: span 4;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 6;
            }
        }

        .cs-video-wrapper {
            /* changes back to 100% at desktop */
            height: 60%;
        }
    }
}

/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #exchanges {
        .cs-video-wrapper {
            height: 80%;
        }

        .cs-card-group {
            grid-template-columns: repeat(5, 1fr);
        }

        .cs-item {
            grid-column: span 1;
            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 1;
            }
        }

        .cs-box {
            bottom: calc(48/16 * 1rem);
        }
    }
}
                                  

/*-- -------------------------- -->
<---       About Kendu          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about-kendu {
        padding: var(--sectionPadding);
        /* 100px - 200px */
        padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
        background-color: #222;
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-title, .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);
            opacity: .8;
            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-ul {
            width: 100%;
            max-width: calc(630/16 * 1rem);
            margin: 0 0 calc(32/16 * 1rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(16/16 * 1rem);
            column-gap: calc(12/16 * 1rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            grid-column: span 4;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            /* 60px - 80px */
            width: calc(48/16 * 1rem);
            height: calc(48/16 * 1rem);
            margin: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: #1D1C1C;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: calc(24/16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 2vw, 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .1em;
            text-align: left;
            margin: 0 0 calc(12/16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-li-text {
            font-size: calc(20/16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4/16 * 1rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:min(2vw, .70rem);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: calc(643/16 * 1em);
            height: calc(608/16 * 1em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-mask {
            width: 101%;
            height: 101%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        .cs-graphic {
            width: 100%;
            min-width: calc(1200/16 * 1rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #about-kendu {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:min(1vw, 1rem);
            flex: none;

            &:before {
                display: block;
            }
        }

        .cs-content {
            width: 51%;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #about-kendu {
        .cs-image-group {
            font-size: inherit;
        }

        .cs-li {
            flex-direction: row;
        }
    }
}

/* Large Desktop - 2000px */
@media only screen and (min-width: 125rem) {
    #about-kendu {
        /* pushes down when the screen size gets too big and the graphic starts getting too tall and creeps up on the content above it */
        padding-bottom: 9vw;
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq {
        padding: var(--sectionPadding);
        background-color: #222;
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 15ch;
            margin: 0 0 calc(32/16 * 1rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            color: #fff;
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: calc(4/16 * 1rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-faq-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(12/16 * 1rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            transition: border-bottom 0.3s;

            &.active {
                .cs-button {
                    background-color: var(--primary);
                    color: var(--bodyTextColorWhite);

                    &:before {
                        background-color: var(--bodyTextColorWhite);
                        transform: rotate(315deg);
                    }

                    &:after {
                        background-color: var(--bodyTextColorWhite);
                        transform: rotate(-315deg);
                    }
                }

                .cs-item-text {
                    height: auto;
                    /* 16px - 24px */
                    padding: calc(16/16 * 1rem) clamp(1rem, 2vw, 1.5rem);
                    opacity: 1;
                    border: 1px solid #767676;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: left;
            width: 100%;
            padding: calc(16/16 * 1rem);
            padding-left: calc(52/16 * 1rem);
            background-color: transparent;
            color: var(--bodyTextColorWhite);
            border: 1px solid #767676;
            display: block;
            position: relative;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background-color: var(--bodyTextColorWhite);
                opacity: 1;
                display: block;
                position: absolute;
                top: 45%;
                left: calc(18/16 * 1rem);
                transform: rotate(45deg);
                transition: transform 0.5s;
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(2/16 * 1rem);
                background-color: var(--bodyTextColorWhite);
                opacity: 1;
                display: block;
                position: absolute;
                top: 45%;
                left: calc(21/16 * 1rem);
                transform: rotate(-45deg);
                transition: transform 0.5s;
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
            }
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            height: 0;
            margin: 0;
            /* clips the text so it doesn't show up */
            overflow: hidden;
            color: var(--bodyTextColorWhite);
            opacity: 0;
            transition: opacity 0.3s, padding-bottom 0.3s;
        }

        .cs-gallery {
            width: 100%;
            /* changes to 1720 at tablet */
            max-width: calc(584/16 * 1rem);
            margin: clamp(3rem, 6vw, 4rem) auto 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-picture {
            /* 210px - 400px */
            min-height: clamp(13.125rem, 27vw, 25rem);
            display: block;
            grid-column: span 5;
            grid-row: span 1;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq {
        .cs-gallery {
            max-width: calc(1720/16 * 1rem);
        }

        .cs-picture {
            grid-column: span 1;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            width: 40%;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-gallery {
            grid-template-columns: repeat(5, 1fr);
        }

        .cs-picture {
            grid-column: span 1;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 1;
            }
        }
    }
}

